{% extends 'registration/base.html.twig' %}
{% use "bootstrap_4_layout.html.twig" %}

{% block title %}<title>Signup</title>{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    

    {{ form(registrationForm, {'attr':{'novalidate':'novalidate'}} )}}
     
     <p class="text-sm mt-3 mb-0">Already have an account? <a href="/login" class="text-info text-gradient font-weight-bold">Sign in</a></p>
        
{% endblock %}
