{{ include('headerClient.html.twig') }}

{% block title %}{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Commande</h1>
<div class="container d-flex align-items-center justify-content-between">
    {{ include('commande_cd/_form.html.twig') }}
</div>
    <a href="{{ path('commande_cd_index') }}">Retourner à la liste</a>
{% endblock %}
{{ include('footerClient.html.twig') }}