{% extends  'front/reste.front.html.twig' %}
{% block body %}
    <div class="container">
        <div class="section">
            <div class="row">

                <h1 align="center">Ajout avec succes  ^_^  ! </h1>
{#
                <h5><center><a href="{{ path('listReclamationByUser',{'idUser':u.id}) }}">Liste des Reclamations</a></center></h5>
#}

                <h5><center><a href="{{ path('affichefront') }}">Liste des Reclamations</a></center></h5>

            </div>
        </div>
    </div>
{% endblock %}


