{{ include('back/header.html.twig') }}
{% block body %}
    <h1 align="center">Liste des Reclamations</h1>
    <head></head>
    <table border="2", align="center", width="100%">
        <tr>
{{ form(etat) }}
        </tr>

</table>

{% endblock %}
{{ include('back/footer.html.twig') }}