{{ include('back/header.html.twig') }}
{% block body %}


    <table  align="center">
        <tr>
    <td>
        <h1 align="center">Etat de Reclamations</h1>
    </td>
        </tr>

        <tr>
            <td>
{{ form(etat) }}
            </td>
        </tr>

</table>

{% endblock %}
{{ include('back/footer.html.twig') }}