{{ include('back/header.html.twig') }}
{% block body %}


    <table align="center">
        <tr>
        <h1>Liste des Reclamations</h1>
        </tr>
        <tr>
            <td>
                {{ form(reponse) }}
            </td>

        </tr>

    </table>

{% endblock %}
{{ include('back/footer.html.twig') }}