{% extends  'front/reste.front.html.twig' %}

{% block body %}
<table align="center">
    <th>
        <td>
       <h1 align="center"> {{ reclamation.reponse }}</h1>
    </td>
    </th>

</table>
{% endblock %}
