{{ include('back/header.html.twig') }}
{% block body %}
<div class="robust-content content container-fluid">
    <div class="content-wrapper">
        <div id="div_chart"></div>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            {{ gc_draw(piechart, 'div_chart') }}
        </script>

    </div>
</div>
{% endblock %}
{{ include('back/footer.html.twig') }}