{% extends  'front/reste.front.html.twig' %}

{% block body %}
<table align="center", width="70%">
    <h1><center> Update Reclamation</center></h1>


    <tr>
        <th>
{{ form(f,{'attr': {'novalidate': 'novalidate'}} ) }}
        </th>
    </tr>

</table>
{% endblock %}
