{{ include('admin/header.html.twig') }}

{% block title %}{% endblock %}

{% block body %}


    {{ include('devis/_form.html.twig') }}

    <a href="{{ path('devis_index') }}">back to list</a>
{% endblock %}
{{ include('admin/footer.html.twig') }}