
{% extends 'accueil/reste.front.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Devis</h1>

    <table class="table">
        <thead>
        <tr>
            <th>IdDevis</th>
            <th>Prix total</th>
            <th>Remise</th>
            <th>CodeDevis</th>

        </tr>
        </thead>
        <tbody>
        {% for devi in devis %}
            <tr>
                <td>{{ devi.id }}</td>
                <td>{{ devi.prixTot }}</td>
                <td>{{ devi.remise }}</td>
                <td>{{ devi.codeDevis }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
