{% extends 'accueil/reste.front.html.twig' %}


{% block title %}Reservation{% endblock %}

{% block body %}
    <h1 align="center"><br>Réservation effectuée avec succès</h1><br><br><br><br>


{% endblock %}
