{{ include('header-admin.html.twig') }}

{% block title %}New category{% endblock %}

{% block main %}
    {% for message in app.flashes('Success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
<style>
    li{
        color: red;
        font-size: 15px;
        width: 10%;

    }
</style>
<div class="container text-center">
    <h1>gestion category</h1>
    <a class="btn btn-success" style="width: 90%" href="{{ path('CategoryProduct_index') }}">show categories</a>

    {{ include('CategoryProduct/_form.html.twig') }}


    </div>

        {% endblock %}
