
{{ include('header.html.twig') }}

{% block title %}{% endblock %}

{% block body %}
    <h1>Ajouter Equipement</h1>

    {{ include('equipement/_form.html.twig') }}

    <a class="btn" href="{{ path('equipement_index') }}">Liste</a>
{% endblock %}
{{ include('footer.html.twig') }}