
{{ include('header.html.twig') }}

{% block title %}{% endblock %}

{% block body %}
    <h1>Create new Equipement</h1>

    {{ include('equipement/_form.html.twig') }}

    <a href="{{ path('equipement_index') }}">back to list</a>
{% endblock %}
{{ include('footer.html.twig') }}