<form method="post" action="{{ path('commande_cd_delete_admin', {'id': commande.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.id) }}">
    <button class="button">Effacer Commande</button>
</form>
