{{ include('header-front.html.twig') }}
{% block title %}
{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1>Les categories</h1>
    </div>

    <div class="row">
        {% for categorie in categories %}
            <div class="col-4 mt-4">
                <div class="border border-dark rounded p-3 clearfix">
                    <h2>
                        {{ categorie.nomCategorie  }}

                    </h2>

                    <hr>



                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}
{{ include('footer-front.html.twig') }}